bsdiff_arguments.h filter=lfs diff=lfs merge=lfs -text
bspatch_unittest.cc filter=lfs diff=lfs merge=lfs -text
buffer_file.cc filter=lfs diff=lfs merge=lfs -text
patch_reader_unittest.cc filter=lfs diff=lfs merge=lfs -text
brotli_compressor.cc filter=lfs diff=lfs merge=lfs -text
extents_file_unittest.cc filter=lfs diff=lfs merge=lfs -text
test_utils.cc filter=lfs diff=lfs merge=lfs -text
bspatch_main.cc filter=lfs diff=lfs merge=lfs -text
extents_unittest.cc filter=lfs diff=lfs merge=lfs -text
include filter=lfs diff=lfs merge=lfs -text
patch_reader.h filter=lfs diff=lfs merge=lfs -text
diff_encoder.cc filter=lfs diff=lfs merge=lfs -text
split_patch_writer.h filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
utils.h filter=lfs diff=lfs merge=lfs -text
endsley_patch_writer.cc filter=lfs diff=lfs merge=lfs -text
bz2_decompressor.h filter=lfs diff=lfs merge=lfs -text
fake_patch_writer.h filter=lfs diff=lfs merge=lfs -text
file.h filter=lfs diff=lfs merge=lfs -text
libbspatch.pc filter=lfs diff=lfs merge=lfs -text
sink_file.h filter=lfs diff=lfs merge=lfs -text
test_utils.h filter=lfs diff=lfs merge=lfs -text
brotli_decompressor.cc filter=lfs diff=lfs merge=lfs -text
BUILD.gn filter=lfs diff=lfs merge=lfs -text
bz2_decompressor.cc filter=lfs diff=lfs merge=lfs -text
compressor_buffer.h filter=lfs diff=lfs merge=lfs -text
endsley_patch_writer_unittest.cc filter=lfs diff=lfs merge=lfs -text
file.cc filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
brotli_decompressor.h filter=lfs diff=lfs merge=lfs -text
testrunner.cc filter=lfs diff=lfs merge=lfs -text
decompressor_interface.cc filter=lfs diff=lfs merge=lfs -text
extents.h filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
memory_file.h filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
diff_encoder_unittest.cc filter=lfs diff=lfs merge=lfs -text
patch_reader.cc filter=lfs diff=lfs merge=lfs -text
split_patch_writer_unittest.cc filter=lfs diff=lfs merge=lfs -text
bsdiff_main.cc filter=lfs diff=lfs merge=lfs -text
compressor_buffer.cc filter=lfs diff=lfs merge=lfs -text
diff_encoder.h filter=lfs diff=lfs merge=lfs -text
extents_file.cc filter=lfs diff=lfs merge=lfs -text
logging.cc filter=lfs diff=lfs merge=lfs -text
split_patch_writer.cc filter=lfs diff=lfs merge=lfs -text
bsdiff_arguments.cc filter=lfs diff=lfs merge=lfs -text
brotli_compressor_unittest.cc filter=lfs diff=lfs merge=lfs -text
bsdiff.cc filter=lfs diff=lfs merge=lfs -text
bspatch_fuzzer.cc filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
patch_writer.cc filter=lfs diff=lfs merge=lfs -text
patch_writer_factory.cc filter=lfs diff=lfs merge=lfs -text
patch_writer_unittest.cc filter=lfs diff=lfs merge=lfs -text
brotli_compressor.h filter=lfs diff=lfs merge=lfs -text
sink_file.cc filter=lfs diff=lfs merge=lfs -text
bz2_compressor.cc filter=lfs diff=lfs merge=lfs -text
endsley_patch_writer.h filter=lfs diff=lfs merge=lfs -text
logging.h filter=lfs diff=lfs merge=lfs -text
memory_file.cc filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
buffer_file.h filter=lfs diff=lfs merge=lfs -text
compressor_interface.h filter=lfs diff=lfs merge=lfs -text
libbsdiff.pc filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
bsdiff_arguments_unittest.cc filter=lfs diff=lfs merge=lfs -text
bsdiff_unittest.cc filter=lfs diff=lfs merge=lfs -text
bspatch.cc filter=lfs diff=lfs merge=lfs -text
bz2_compressor.h filter=lfs diff=lfs merge=lfs -text
extents.cc filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.chromium filter=lfs diff=lfs merge=lfs -text
suffix_array_index_unittest.cc filter=lfs diff=lfs merge=lfs -text
brotli_decompressor_unittest.cc filter=lfs diff=lfs merge=lfs -text
bspatch.1 filter=lfs diff=lfs merge=lfs -text
decompressor_interface.h filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD_LIKE filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
bz2_decompressor_unittest.cc filter=lfs diff=lfs merge=lfs -text
patch_writer.h filter=lfs diff=lfs merge=lfs -text
suffix_array_index.cc filter=lfs diff=lfs merge=lfs -text
suffix_array_index.h filter=lfs diff=lfs merge=lfs -text
utils.cc filter=lfs diff=lfs merge=lfs -text
bsdiff.1 filter=lfs diff=lfs merge=lfs -text
